<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-group row" style="width:60%">
    <label class="col-sm-4 col-form-label">Employee Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" [(ngModel)]="EmployeeName"
             placeholder="Enter Employee Name" />
    </div>
    <label class="col-sm-4 col-form-label">Department</label>
    <div class="col-sm-8">
      <select class="form-control" [(ngModel)]="DepartmentId">
        <option [ngValue]="undefined" selected disabled> -- Select -- </option>
        <option *ngFor="let Department of DepartmentsList" value="{{Department.DepartmentId}}">
          {{Department.DepartmentName}}
        </option>
      </select>
    </div>
    <label class="col-sm-4 col-form-label">Joining Date</label>
    <div class="col-sm-8">
      <input type="date" class="form-control" [(ngModel)]="JoiningDate"
             placeholder="Joining Date" />
    </div>
  </div>

  <div class="ml-3 bd-highlight" style="width: 40%">
    <img [src]="PhotoFilePath" height="250px;" width="200px;" />
    <input type="file" (change)="uploadPhoto($event)" class="mt-2" />
  </div>

</div>
<hr/>
<button (click)="addEmployee()" *ngIf="employee.EmployeeId==0" class="btn btn-primary float-right m-2">
  Add
</button>

<button (click)="updateEmployee()" *ngIf="employee.EmployeeId!=0" class="btn btn-primary float-right m-2">
  Update
</button>
